{% load static %}
<link href="{% static '/css/breadcrumbs.css' %}" rel="stylesheet">
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-2">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="{% url 'newsletters:newsletter_list' %}">Newsletters</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-body-emphasis text-decoration-none" href="{% url 'newsletters:message_list' %}">Messages</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-body-emphasis text-decoration-none" href="#">Clients</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-body-emphasis  text-decoration-none" href="#">Reports</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a class="link-body-emphasis  text-decoration-none" href="{% url 'blog:blog' %}">Blog</a>
            </li>
        </ol>
    </nav>
</div>
