{% extends "base.html" %}
{% load my_user_tags %}
{% block title %}Newsletter#{{ newsletter.pk }}{% endblock %}
{% block content %}
<div class="shadow rounded-3 m-4">
    <div class="p-4 my-2 bg-body-tertiary rounded-3">
        <h3>Сообщение #{{ message.pk }}</h3>
        {% if not request.user|manager %}
        <div>
            <a href="{% url 'newsletters:update_message' message.pk %}" class="btn btn-outline-secondary">Редактировать</a>
            <a href="{% url 'newsletters:delete_message' message.pk %}" class="btn btn-outline-secondary">Удалить</a>
        </div>
        {% else %}
        <p class="text-secondary">
            <small>Пользователь: {{ message.user }}</small>
        </p>
        {% endif %}
    </div>
    <div class="container p-4 my-2">
        <h5>Заголовок: {{ message.title }}</h5>
        <p>Текст сообщения: {{ message.text }}</p>
    </div>
</div>
{% endblock %}