{% extends "base.html" %}
{% load my_user_tags %}
{% block title %}Newsletter#{{ newsletter.pk }}{% endblock %}
{% block content %}
<div class="shadow rounded-3 m-4">
    <div class="p-4 my-2 bg-body-tertiary rounded-3">
        <h3>Рассылка #{{ newsletter.pk }}</h3>
        <p><small class="text-secondary">{{ newsletter.created_at }}</small></p>
        {% if not request.user|manager %}
        <div>
            <a href="{% url 'newsletters:update_newsletter' newsletter.pk %}" class="btn btn-outline-secondary">Редактировать</a>
            <a href="{% url 'newsletters:delete_newsletter' newsletter.pk %}" class="btn btn-outline-secondary">Удалить</a>
        </div>
        {% endif %}
    </div>
    <div class="list-group list-group-flush container p-2 my-2">
        <a class="list-group-item list-group-item-action"aria-current="true">
            <b>Статус:</b> {{ newsletter.get_status_display }}
        </a>
        <a class="list-group-item list-group-item-action"aria-current="true">
            <b>Периодичность:</b> {{ newsletter.get_period_display }}
        </a>
        <a class="list-group-item list-group-item-action"aria-current="true">
            <b>Дата первой рассылки:</b> {{ newsletter.date_time }}
        </a>
        <a class="list-group-item list-group-item-action"
           aria-current="true" href="{% url 'newsletters:message_detail' newsletter.message.pk %}">
            <b>Сообщение:</b> {{ newsletter.message.title }}
        </a>
        <a class="list-group-item list-group-item-action"
           aria-current="true" href="{% url 'newsletters:client_list' %}?newsletter={{ newsletter.pk }}">
            <b>Клиенты</b> <span class="badge text-bg-primary rounded-pill mx-3"> {{ newsletter.clients.count }}</span>
        </a>
        {% if reports %}
        <a class="list-group-item list-group-item-action"
           aria-current="true" href="{% url 'newsletters:newsletter_report' newsletter.pk %}">
            <b>Отчеты</b> <span class="badge text-bg-primary rounded-pill mx-3"> {{ reports.count }}</span>
        </a>
        {% endif %}
    </div>
    {% if run_send %}
    {% if run_send == 'start' %}
    <div class="container p-4 my-2">
        <a href="{% url 'newsletters:start_sending' newsletter.pk %}" class="btn btn-outline-primary">Запустить</a>
    </div>
    {% else %}
    <div class="container p-4 my-2">
        <a href="{% url 'newsletters:stop_sending' newsletter.pk %}" class="btn btn-outline-primary">Остановить</a>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}