{% extends "base.html" %}
{% load my_user_tags %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="card mb-3" style="max-width: 100em;">
    {% if request.user|manager %}
    <div class="card-header">
        {% if object.is_status %}
        <p class="text-secondary"><small>Статус: опубликованный</small></p>
        {% else %}
        <p class="text-secondary"><small>Статус: неопубликованный</small></p>
        {% endif %}
        <p>
            <a href="{% url 'blog:update_post' object.id %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
            <a href="{% url 'blog:delete_post' object.id %}" class="btn btn-sm btn-outline-secondary mx-4">Удалить</a>
        </p>
    </div>
    {% endif %}
    <div class="row g-0">
        <div class="col-md-4 p-2">
            <img src="{{ object.image.url }}" class="img-fluid rounded"
                 alt="image for {{ object.name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="mb-4">
                    <h3>{{ object.title }}</h3>
                </div>
                <div>{{ object.text }}</div>
                <div class="my-4">
                    <p class="card-text">
                        <small class="text-body-secondary">Просмотры: {{ object.views_count }}</small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">Дата публикации: {{ object.created_at }}</small>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}