{% extends "base.html" %}
{% block title %}Logout{% endblock %}
{% block content %}
{% include 'include/title.html' with title='Выйти!' body='Вы точно хотите выйти из аккаунта?' %}
<div class="my-2">
    <div class="card border mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <a href="{% url 'users:logout' %}" class="btn btn-outline-secondary w-100 mt-4 mb-2">Выйти</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary w-100 mt-4 mb-2" href="{% url 'newsletters:home' %}">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}